<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Dove of Peace Personal Use.ttf</string>
		<string>Dove of Peace two Personal Use.ttf</string>
		<string>We Love Peace.ttf</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>A Piece of Peace uses speech recognition so you can speak your reflections instead of typing.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>A Piece of Peace needs microphone access to transcribe your spoken reflections.</string>
</dict>
</plist>
